.filter-form-wrapper {
  --date-wrapper-width: 100%;
  --date-gap: 10px;
  --input-bdr-rad: 10px;
  border: 1px solid var(--border-clr-a0);
  border-radius: var(--border-radius);
  min-width: var(--main-content-min-width);
  background-color: var(--bg-secondary-a0);
  transition: var(--bg-clr-transition);
  margin: var(--space-s) 0;
  font-size: var(--font-size-sm);
  max-width: 1000px;
}
div.button-wrapper button,
.filter-form-wrapper p.filter-data {
  display: flex;
  gap: var(--space-xs);
  margin: var(--space-s);
  color: var(--clr-text-primary, red);
  font-weight: 500;
}

div.button-wrapper button {
  background: none;
  border: none;
}

div.button-wrapper button svg,
.filter-form-wrapper p.filter-data svg {
  width: 15px;
  fill: var(--clr-text-primary);
}

.filter-form-wrapper form.filter-form {
  border-top: 1px solid var(--border-clr-a0);
  padding: var(--space-s);
  color: var(--clr-text-secondary-a10, red);
}

.filter-form-wrapper form.filter-form > div {
  margin-bottom: var(--space-s);
}

.filter-form-wrapper form.filter-form div label {
  display: block;
  font-weight: 500;
  margin-bottom: var(--space-xxs);
  font-size: var(--font-size-xxs);
}

.filter-form-wrapper form.filter-form div input {
  width: 100%;
  display: flex;
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--input-bdr-rad);
  border: 1px solid var(--border-clr-a0);
  background-color: var(--bg-secondary-a10, red);
  color: var(--clr-text-secondary-a10, red);
  font-size: var(--font-size-xs);
  transition: var(--bg-clr-transition);
}

.filter-form-wrapper form.filter-form div.date-wrapper {
  display: flex;
  width: var(--date-wrapper-width);
  justify-content: space-between;
  align-items: center;
  gap: var(--date-gap);
  flex-wrap: wrap;
}

.filter-form-wrapper form.filter-form div.date-wrapper > div {
  width: clamp(
    130px,
    calc(var(--date-wrapper-width) - var(--date-gap)) / 2,
    300px
  );
}

.filter-form-wrapper
  form.filter-form
  div.date-wrapper
  > div
  input[type='date'] {
  padding: var(--space-xxs) var(--space-xs);
  width: 100%;
  display: block;

  width: 100%;
}

form.filter-form input[type='date']::-webkit-calendar-picker-indicator {
  filter: var(--date-picker-filter);
  cursor: pointer;
}

div.splitter {
  border-top: 1px solid var(--border-clr-a0);
  width: 100%;
}

div.form-button-wrapper {
  width: 100%;
}

div.form-button-wrapper button {
  display: inline-flex;
  gap: var(--space-xs);
  cursor: pointer;
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary-a0);
  border: 1px solid var(--border-clr-a0);
  color: var(--clr-text-secondary-a0);
  transition: var(--bg-clr-transition);
  font-size: var(--font-size-xs);
}

div.form-button-wrapper button svg {
  width: 12px;
}

div.form-button-wrapper button svg path {
  fill: var(--clr-text-secondary-a0);
}

div.form-button-wrapper button[type='submit'] {
  background: var(--elements-a0);
  color: #ffff;
  border: none;
  margin-left: var(--space-xs);
}

div.form-button-wrapper button[type='submit'] svg path {
  fill: #ffff;
}

select {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--space-xs) var(--space-s);
  appearance: base-select;
  background-color: var(--bg-secondary-a10);
  text-align: left;
  transition: var(--bg-clr-transition);
  color: var(--clr-text-secondary-a10);
  min-width: 210px;
  font-size: var(--font-size-xxs);
}

select::picker-icon {
  display: inline-block;
  content: '\2304';
  transform: scale(1.5) rotate(0deg);
  vertical-align: middle;
  color: var(--clr-text-primary);
  line-height: 1;
  margin-right: var(--space-s);

  border-radius: 12px;
  transition: transform 0.2s ease;
}

select:open::picker-icon {
  transform: scale(1.5) rotate(180deg);
}

select option {
  padding: var(--space-xxs) var(--space-xs);
  color: var(--clr-text-primary);
}

@media screen and (min-width: 700px) {
  form.filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-xs);
  }

  form.filter-form div.sort-by {
    grid-area: 2/1/3/2;
    align-items: end;
    margin: 0;
  }

  form.filter-form div.form-button-wrapper {
    grid-area: 2/2/3/4;
    align-self: end;
    display: flex;
    justify-content: end;
    margin-bottom: 0;
  }

  div.splitter {
    display: none;
  }
}
