@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

:root {
  --bg-primary-a0: #f3f8ff;
  --bg-secondary-a0: #ffffff;
  --bg-secondary-a10: #f1f5ff;
  --border-clr-a0: #d9dee4;
  --bg-login-image: url('../assets/images/login-bg-light.svg');
  --bg-login: #cde7ff;
  --elements-a0: #539aff;
  --elements-a10: #5587cc;
  --elements-a20: #41689e;
  --elements-a30: #264063;
  --btn-clr-a0: #bcd8ff;
  --btn-clr-a10: #e2eeff;
  --btn-clr-a40: #00337a;
  --backdrop-clr: #18181889;
  --success-a0: #118623;
  --success-a10: #95ffa6;
  --success-a20: #c1ffca;
  --warn-a0: #ffbc5e;
  --warn-a10: #ffc77a;
  --warn-a20: #ffd194;
  --danger-a0: #cd0300;
  --danger-a10: #ffb0ae;
  --danger-a20: #ffc7c5;
  --logo-shadow: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
  --logo-contrast: contrast(100%);
  --clr-text-primary: #3a3a3a;
  --clr-text-secondary-a0: #8d8d8d;
  --clr-text-secondary-a10: #636363;
  --theme-toggle-bg: #ffffff;
  --font-base: 'JetBrains Mono', 'Inter', 'Roboto', 'sans-serif';
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.2rem;
  --font-size-4xl: 3rem;
  --line-height-base: 1.5;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-2xl: 3.8rem;
  --space-3xl: 5rem;
  --input-focus: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  --outline-clr: #0e0e0e;
  --input-outline: 1px solid var(--outline-clr);
  --label-text-clr: #777777;
  --bg-clr-transition: background-color 0.5s;
  --header-height: 70px;
  --date-picker-filter: invert(0);
  --main-content-min-width: 300px;
  --border-radius: 12px;
}

[data-theme='dark'] {
  --bg-primary-a0: #0f172a;
  --bg-secondary-a0: #1e293b;
  --bg-secondary-a10: #0e1827;
  --border-clr-a0: #42454b;
  --bg-login: #00062a;
  --bg-login-image: url('../assets/images/login-bg-dark.svg');
  --elements-a0: #0060e6;
  --elements-a10: #8bbcff;
  --elements-a20: #9ac5ff;
  --elements-a30: #b7d6ff;
  --btn-clr-a0: #002b56;
  --btn-clr-a10: #002a65;
  --btn-clr-a40: #c9e0ff;
  --danger-a0: #cd0300;
  --danger-a10: #ff7774;
  --danger-a20: #ffc7c5;
  --logo-shadow: drop-shadow(0px 0px 3px #668ae4);
  --logo-contrast: contrast(100%);
  --clr-text-primary: #f5f5f5;
  --clr-text-secondary-a0: #bcbcbc;
  --clr-text-secondary-a10: #cacaca;
  --outline-clr: #737373;
  --input-outline: 2px solid var(--outline-clr);
  --label-text-clr: #c7c7c7;
  --theme-toggle-bg: #121b4f;
  --backdrop-clr: #181818c2;
  --date-picker-filter: invert(1);
}
