.app {
  position: relative;
  background-color: var(--bg-primary-a0);
  min-height: 100vh;
  color: var(--clr-text-primary);
  transition: var(--bg-clr-transition);
  font-family: var(--font-base);
}
.app main.login {
  padding: 0;
  background-color: var(--bg-secondary-a0);
}

.app main {
  transition: var(--bg-clr-transition);
  min-height: calc(100vh - var(--header-height));
  padding: var(--space-m) var(--space-s);
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken(var(--scrollbar-thumb), 2);
}

::-webkit-scrollbar-thumb:active {
  background: darken(var(--scrollbar-thumb), 5%);
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-thumb);
}

::-webkit-resizer {
  background: var(--scrollbar-thumb);
}

@media screen and (min-width: 700px) {
  .app main {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .app main {
    margin-left: var(--sidebar-width);
  }
}

@media screen and (min-width: 1200px) {
  .app main {
    max-width: calc(80vw + var(--sidebar-width));
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    font-size: var(--font-size-base);
  }
}
