.first-panel {
  background-color: var(--bg-login);
  background-image: var(--bg-login-image);
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  margin-bottom: var(--space-m);
  transition: var(--bg-clr-transition);
  position: relative;
}

.first-panel h3 {
  font-size: var(--font-size-l);
  padding: var(--space-m) var(--space-m) var(--space-s) var(--space-m);
}

.first-panel p {
  align-self: end;
  margin-right: var(--space-m);
  margin-bottom: var(--space-m);
  font-size: var(--font-size-lg);
}

.logo svg {
  margin-bottom: var(--space-l);
  filter: var(--logo-shadow) var(--logo-contrast);
  transform: scale(120%);
}

.logo.small svg {
  transform: scale(80%);
}

.theme-toggle-wrapper {
  align-self: end;
  margin-top: var(--space-m);
  margin-right: var(--space-m);
}

.second-panel {
  margin: var(--space-m);
  font-size: var(--font-size-xs);
}

form.login-form h3 {
  display: none;
}

form.login-form .input-wrapper div {
  margin-bottom: var(--space-sm);
}

form.login-form .input-wrapper div label {
  display: block;
  margin-left: var(--space-l);
  transform: translateY(25px);
  color: var(--label-text-clr);
}

form.login-form .input-wrapper div input {
  outline: var(--input-outline);
  -webkit-text-fill-color: var(--clr-text-primary);
  background-color: var(--bg-secondary-a0);
  width: 100%;
  padding: var(--space-m) var(--space-s) var(--space-s) var(--space-l);
  font-size: var(--font-size-sm);
  border-radius: 10px;
  border: none;
  transition: var(--bg-clr-transition);
}

form.login-form .input-wrapper div input:focus {
  outline-color: #0068be;
  outline-width: 2px;
  transition: outline-color 0.4s;
  caret-color: var(--clr-text-primary);
}

form.login-form input:-webkit-autofill,
form.login-form input:-webkit-autofill:hover,
form.login-form input:-webkit-autofill:focus,
form.login-form textarea:-webkit-autofill,
form.login-form textarea:-webkit-autofill:hover,
form.login-form textarea:-webkit-autofill:focus,
form.login-form select:-webkit-autofill,
form.login-form select:-webkit-autofill:hover,
form.login-form select:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px var(--bg-secondary-a0) inset !important;
  -webkit-box-shadow: 0 0 0 1000px var(--bg-secondary-a0) inset !important;
  -webkit-text-fill-color: var(--clr-text-primary) !important;
  transition: background-color 9999s ease-in-out 0s;
}

form.login-form input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: none !important;
  color: fieldtext !important;
}

form.login-form .input-wrapper div.form-invalid input {
  outline: 1px solid red;
  background-color: var(--danger-a20);
  -webkit-text-fill-color: red;
}

form.login-form .input-wrapper div.form-invalid label {
  color: red;
}

.login-success {
  min-height: 45px;
}

.login-success p {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 137, 32);
  padding: var(--space-xs) var(--space-s);
  background-color: var(--success-a20);
  height: 100%;
  border: 3px solid var(--success-a0);
  border-radius: 10px;
}

.login-success p img {
  justify-self: center;
}

.login-error {
  min-height: 30px;
  margin: var(--space-xs) var(--space-m);
}

.login-error p {
  color: #ff0000;
  display: flex;
  align-items: center;
  gap: 6px;
}

.login-btn {
  padding: var(--space-xs);
  background-color: var(--elements-a0);
  color: #ffff;
  width: 100%;
  border: none;
  transition: var(--bg-clr-transition);
  border-radius: 10px;
}
.login-btn:hover {
  background-color: var(--elements-a10);
  transition: background-color 0.1s;
}

.login-btn:active {
  background-color: var(--elements-a30);
  transition: background-color 0.1s;
}

.contact-admin {
  margin-top: var(--space-m);
  text-align: center;
}

.contact-admin a {
  color: var(--elements-a0);
}

.contact-admin a:hover {
  text-decoration: underline;
}

.contact-admin a:active {
  color: var(--elements-a30);
}

.login-image-wrapper {
  display: none;
}

@media screen and (min-width: 700px) {
  div.login {
    background-color: var(--bg-primary-a0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px auto;
    min-height: 100vh;
    transition: var(--bg-clr-transition);
  }

  .first-panel {
    flex-direction: row-reverse;
    justify-content: center;
    background-image: none;
    grid-column: 1/3;
    background: none;
    margin: 0;
    max-width: 1000px;
    margin: 0 auto;
  }

  .first-panel h3 {
    display: none;
  }

  .first-panel .logo svg {
    transform: scale(80%);
    margin: 0;
  }

  section.second-panel {
    position: relative;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    min-width: 77%;
    grid-column: 1/3;
    justify-self: center;
    border: 1px solid var(--border-clr-a0);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-a0);
    transition: var(--bg-clr-transition);
    max-width: 1000px;
  }
  .theme-toggle-wrapper {
    position: absolute;
    margin: 0;
    top: calc((75px - 25px) / 2);
    left: var(--space-l);
  }

  div.splitter {
    border-left: 1px solid var(--border-clr-a0);
    min-height: 70%;
  }

  .login-image-wrapper {
    margin-right: var(--space-l);
    display: block;
  }

  section.second-panel form {
    padding: 0 var(--space-l);
    padding-top: var(--space-s);
  }

  form.login-form h3 {
    display: block;
  }

  .login-image-placeholder {
    min-width: 90%;
  }
}
