header {
  border-bottom: 1px solid var(--border-clr-a0, red);
  position: relative;
  z-index: 6;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  background-color: var(--bg-secondary-a0);
  transition: var(--bg-clr-transition);
  height: var(--header-height);
}

header div.company-logo-wrapper {
  grid-area: 1/2/2/3;
  justify-self: center;
}

header div.company-logo-wrapper svg {
  filter: var(--logo-shadow);
  width: 150px;
  height: 65px;
}

header div.open-sidebar button {
  background: none;
  border: none;
  margin-left: var(--space-xs);
  width: 35px;
}

header div.open-sidebar button svg path {
  fill: var(--clr-text-primary);
}
