.info {
  border: 1px solid var(--border-clr-a0);
  font-size: var(--font-size-sm);
  padding: var(--space-s);
  background-color: var(--bg-secondary-a0);
  border-radius: var(--border-radius);
}

.payment-data-wrapper {
  font-size: var(--font-size-xs);
  border: 1px solid var(--border-clr-a0, red);
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary-a0);
  overflow-x: auto;
  width: 100%;
}

.payment-data-wrapper > p {
  padding: var(--space-xs) var(--space-s);
  background-color: var(--bg-primary-a0);
}

.payment-data-header,
.payment-data-card {
  display: grid;
  grid-template-columns:
    minmax(55px, 1fr) minmax(65px, 1fr) minmax(75px, 1fr) minmax(55px, 1fr)
    minmax(75px, 1fr);
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-s);
  width: 100%;
  min-width: 380px;
}

.payment-data-wrapper div:nth-child(even) {
  background-color: var(--bg-primary-a0);
}

.payment-data-card:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.payment-data-footer {
  padding: var(--space-xs) var(--space-s);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  width: 100%;
  min-width: 380px;
}

.payment-data-footer h4 {
  margin-bottom: var(--space-xs);
}

.payment-data-footer p {
  display: grid;
  grid-template-columns: 70px auto;
  gap: var(--space-xs);
}

.payment-data-footer p:last-child {
  font-size: var(--font-size-sm);
  font-weight: 600;
  margin: var(--space-xs) 0;
}

.payment-data-footer p span {
  align-content: end;
}

p.loading,
p.error,
p.no-data {
  padding: var(--space-xs) var(--space-s);
  color: var(--clr-text-secondary-a0);
  font-size: var(--font-size-sm);
}
