.button-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper button {
  width: 55px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #686868;
  background-color: var(--theme-toggle-bg);
}

.button-wrapper button div.switch {
  transform: translateX(0px) rotate(180deg);
  position: relative;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: none;
  margin: 2px;
  transition: transform ease-in-out 0.2s;
}

.button-wrapper button div.switch.dark {
  transform: translateX(20px) rotate(270deg);
}
